body{
    background-color:#87CEFA ;
}
button{
    width:39px;
}
h1{
    color:#696969 ;
}
p{
    font-size:16pt ;
}
table{
    border-collapse: collapse;
}
td, th{
    border:1px solid black ;
}
